{% extends "base.html" %}{% load i18n forms account crispy_forms_tags %}

{% block main_content %}
    <h1>{% trans "Detail závodu" %}</h1>

    <div class="container">
        <div class="row">
            <div class="col-9">
                <h2>{{ event.name }}</h2>
            </div>
            <div class="col-3" style="text-align: right">
                <a class="btn btn-secondary" href="{% url "events:entries" event.pk %}">{% trans "Přihlášky" %}</a>
                {% if event.leader %}
                    <a class="btn btn-secondary" href="{% url "events:bills" event.pk event.leader.leader_key %}">{% trans "Dluhy" %}</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% trans "Datum" %}: {{ event.date }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% trans "Organizátor" %}: {{ event.organizers }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% trans "Oblast" %}: {{ event.region }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% trans "Disciplína" %}: {{ event.discipline.name }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% trans "Úroveň" %}: {{ event.level.name }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% trans "Místo" %}: {{ event.venue }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% trans "ORIS" %}: <a href="{{ event.oris_url }}">{{ event.oris_id }}</a>
            </div>
        </div>
        {% ifnotperm edit_event %}
        <div class="row">
            <div class="col">
                {% trans "Zpracováváno systémem" %}: {{ event.handled|yesno:"Ano,Ne" }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% trans "Vedoucí" %}: {{ event.leader|default:"-" }}
            </div>
        </div>
        {% endifnotperm %}
    </div>

    <br>

    {% ifperm edit_event %}
        {% crispy form %}
    {% endifperm %}

{% endblock %}
