{% load static i18n account %}
<!doctype html>
<html lang="cs-cs">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %} | {% trans 'SKOB Zlín - správa účtů' %}{% endblock title %}</title>

        {% block metas %}
        <meta name="description" content="Dashboard UI Kit">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock metas %}

        {% block favicons %}
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        {% endblock favicons %}

        {% block stylesheets %}
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.2-web/css/all.css' %}">
        {% endblock stylesheets %}

        {% block scripts %}
            <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
            <script src="{% static 'js/popper.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/core.js' %}"></script>
        {% endblock scripts %}
    </head>
    <body>
        {% block navbar %}
        {% if not request.user.is_anonymous %}
            {% include "navbar.html" %}
        {% endif %}
        {% endblock %}
        <div class="container" style="max-width: 1280px; padding-bottom: 15px;">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row" >
                <div class="col-10">
                {% block main_content %}
                {% endblock main_content %}
                </div>
                {% block right-sidebar %}
                {% if not request.user.is_anonymous %}
                    {% ifperm view_change_log %}
                        <div class="col-2" style="border-left: 2px solid black;">
                            <h3>{% trans "Historie změn:" %}</h3>
                            <div class="container">
                            {% for change_log in request.user.change_logs.all %}
                                <div class="row">{{ change_log|safe }}</div>
                                <hr style="margin-top: 5px; margin-bottom: 5px; border-width: 2px;">
                            {% empty %}
                                <div class="row">{% trans "Žádné změny" %}</div>
                            {% endfor %}
                            </div>
                        </div>
                    {% endifperm %}
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
