<div class="accordion">
{% load custom_filters %}
{% for roaster in roasters %}
    <div class="accordion-item" {% if not roaster.is_qualified %}style="background-color: #ffcccc;"{% endif %}>
        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" class="col-3" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}" {% if not roaster.is_qualified %}style="background-color: #ffcccc;"{% endif %}>
                {% if roaster.is_qualified %}
                    <span style="margin-right: 20px;">{{ roasters|qualified_count_before:forloop.counter0 }}</span>
                {% else %}
                    <span style="margin-right: 20px; visibility: hidden;">-</span>
                {% endif %}
                {{ roaster.name }}
            </button>
        </h2>
        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}">
            <div class="accordion-body">
                {% for runner in roaster.runners %}
                    <span style="color: {% if forloop.last%}gray{% endif %}">
                        {{ runner.index }}. {{ runner.first_name }} {{ runner.last_name }} ({{ runner.licence }})
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if roaster.is_qualified and roasters|qualified_count_before:forloop.counter0 == 45 %}
    <div style="width: 100%; border-bottom: 2px solid red;"></div>
    {% endif %}
{% endfor %}
</div>
<div id="export-link" hx-swap-oob="true" style="position: absolute; display: inline; left: 54%">
    <a href="{% url "sprint_relays:export" %}"><i class="fa fa-file-excel" style="font-size: 2em; margin-top: 3px;"></i></a>
</div>