{% extends "emails/base.html" %}
{% load i18n event %}

{% block body %}
    {% trans "Ahoj," %}<br>
    <br>
    {% trans "Prosíme o platbu oddílových příspěvků pro nadcházející sezonu 2025 za závodníka " %}{{ account.full_name }} {{ account.registration_number }}.
    <br>
    <br>
    {% trans "Příspěvky pro letošní rok jsou stanoveny, stejně jako loni, pro děti a mládež (ročníky narození do roku 2005 - včetně) na 4.000Kč, pro ostatní 2.000Kč. Z důvodů registrace závodníků na novou sezonu je termín úhrady do"%} <b>15. 2. 2025.</b>
    <br>
    {% trans "Novinkou je zrušení slevy na dospělé členy rodiny či stejné domácnosti." %}
    <br>
    {% trans "Sleva platí nově pouze pro děti a mládež do 20 let. Důvodem této změny je, dle názoru výboru klubu, spravedlnost celého systému vybírání příspěvků." %}
    <br>
    {% trans "Příklad:" %}
    <br>
    {% trans "Pokud jsou v klubu jen dvě dospělé osoby žijící v jedné domácnosti, zaplatí každá 2.000Kč. Pokud chce dospělý člen klubu registrovat dvě děti do 20 let, zaplatí za sebe 2.000Kč, za první dítě 3.800Kč, za druhé 3.600Kč." %}
    <br>
    <br>
    <br>
    {% trans "Registrace do jedné Sekce (typicky OB) je v ceně příspěvků. Registrace do každé další sekce (MTBO, LOB, Trail-O) je zpoplatněna částkou 200Kč (bude započítáno do dluhů). Do závodní sezony budou členové zaregistrováni až po zaplacení příspěvků a úhradě dluhů za rok 2024. Náklady spojené s případnou dodatečnou registrací budou členům klubu připsány do dluhů. Pokud máte dluh vyšší než 100Kč, přijde vám e-mail s instrukcemi pro jeho úhradu." %}
    <br>
    <br>
    {% trans "Všechny platby musí být uhrazeny na účet klubu. Pokud bude někdo žádat potvrzení kvůli příspěvku od VZP, prosím kontaktujte Michaelu Hančíkovou na adrese" %} <a href="mailto:m.hancikova99@gmail.com">m.hancikova99@gmail.com</a>. {% trans "Do e-mailu prosím uveďte" %} <b>jméno závodníka, datum narození a datum, kdy byla platba provedena.</b> {% trans "Po připsání částky na klubový účet vám e-mailem zašleme potvrzení s datem transakce." %}
    <br>
    <br>
    <b>{% trans "Příspěvky můžeš zaplatit pomocí následujících platebních údajů:" %}</b>
    <br>
    {% trans "Číslo účtu: " %}{{ club_bank_account_number }}
    <br>
    {% trans "Částka (bez rodinných slev): " %}{{ account.club_membership_payment_amount }} {% trans "Kč" %}
    <br>
    {% trans "Zpráva pro příjemce: " %}{{ account.club_membership_payment_message }}
    <br>
    {% trans "Variabilní symbol: " %}{{ account.club_membership_variable_symbol }}
    <br>
    {% trans "QR kód: " %}
    <br>
    <img alt="QR platba" src="{{ account.club_membership_payment_qr_url }}"/>
    <br>
    <br>
    <b>{% trans "Je nezbytné použít uvedený variabilní symbol, jinak nedojde k automatickému spárování transakce." %}</b>
    <br>
    <br>
    {% trans "Pokud tvou platbu nezaevidujeme do " %}<b>15. 2. 2025</b>{% trans ", nebude ti umožněno se v ORISu přihlašovat na závody." %}
    <br>
    <br>
    {% trans "Děkujeme za platbu." %}
    <br>
    <br>
    {% trans "Za SKOB Zlín, Michal Kašpar, administrátor IS." %}

{% endblock %}
