{% extends "emails/base.html" %}
{% load i18n event %}

{% block body %}
    {% trans "Ahoj" %}<br>
    <br>
    {% trans "Prosíme o platbu dluhů za uplynulý rok za závodníka " %}{{ account.full_name }} {{ account.registration_number }} <b>{% trans "do konce tohoto kalendářního roku." %}</b>
    <br>
    {% trans "Podrobný přehled dluhů za jednotlivé závody lze nalézt " %}<a href="{% url "accounts:transactions" account.key %}">{% trans "zde." %}</a>
    <br>
    {% trans "V případě nesrovnalostí či dotazů kontaktuj Romana Zbranka, roman.zbranek@gmail.com." %}
    <br>
    <b>{% trans "Dluhy můžeš zaplatit pomocí následujících platebních údajů:" %}</b>
    <br>
    {% trans "Číslo účtu: " %}{{ club_bank_account_number }}
    <br>
    {% trans "Částka: " %}{{ account.debts_payment_amount }} {% trans "Kč" %}
    <br>
    {% trans "Zpráva pro příjemce: " %}{{ account.debts_payment_message }}
    <br>
    {% trans "QR kód: " %}
    <br>
    <img alt="QR platba" src="{{ account.debts_payment_qr_url }}"/>
    <br>
    <br>
    {% trans "Děkujeme za platbu." %}
    <br>
    <br>
    {% trans "Za SKOB Zlín, Michal Kašpar, administrátor IS." %}

{% endblock %}
