{% extends "emails/base.html" %}
{% load i18n event %}

{% block body %}
    {% trans "Ahoj," %}<br>
    <br>
    {% trans "U závodníka " %}{{ account.full_name }} {{ account.registration_number }} {% trans "bylo zablokováno přihlašování na závody v ORIS, neboť zůstatek na účtu v IS klesnul pod -2000 Kč." %}.
    <br>
    <br>
    {% trans "Aktuální zůstatek účtu je " %}{{ account.balance }} {% trans "Kč." %}
    <br>
    {% trans "K odblokování přihlašování dojde po připsání dlužné částky na bankovní účet SKOB Zlín." %}
    <br>
    {% trans "Podrobný přehled transakcí lze nalézt " %}<a href="http://{{ domain }}{% url "accounts:transactions" account.key %}">{% trans "zde." %}</a>
    <br>
    {% trans "V případě nesrovnalostí či dotazů prosím kontaktuj Romana Zbranka, zbranek@skob-zlin.cz." %}
    <br>
    <br>
    <b>{% trans "Dluhy můžeš zaplatit pomocí následujících platebních údajů:" %}</b>
    <br>
    {% trans "Číslo účtu: " %}{{ club_bank_account_number }}
    <br>
    {% trans "Částka: " %}{{ account.debts_payment_amount }} {% trans "Kč" %}
    <br>
    {% trans "Zpráva pro příjemce: " %}{{ account.debts_payment_message }}
    <br>
    {% trans "Variabilní symbol: " %}{{ account.debts_variable_symbol }}
    <br>
    {% trans "QR kód: " %}
    <br>
    <img alt="QR platba" src="{{ account.debts_payment_qr_url_no_amount }}"/>
    <br>
    <br>
    <b>{% trans "Je nezbytné použít uvedený variabilní symbol, jinak nedojde k automatickému spárování transakce." %}</b>
    <br>
    {% trans "Dluhy je možné platit pomocí stejného variabilního symbolu kdykoli během roku." %}
    <br>
    <br>
    {% trans "Děkujeme za platbu." %}
    <br>
    <br>
    {% trans "Za SKOB Zlín, Michal Kašpar, administrátor IS." %}

{% endblock %}
