{% extends "emails/base.html" %}
{% load i18n event %}

{% block body %}
    {% trans "Ahoj" %}<br>
    <br>
    {% if not account.club_membership_paid %}
        {% trans "V systému evidujeme, že stále nemáš zaplacené oddílové příspěvky." %}
        <br>
        <br>
        <b>{% trans "Příspěvky můžeš zaplatit pomocí následujících platebních údajů:" %}</b>
        <br>
        {% trans "Číslo účtu: " %}{{ club_bank_account_number }}
        <br>
        {% trans "Částka: " %}{{ account.club_membership_payment_amount }} {% trans "Kč" %}
        <br>
        {% trans "Zpráva pro příjemce: " %}{{ account.club_membership_payment_message }}
        <br>
        {% trans "QR kód: " %}
        <br>
        <img alt="QR platba" src="{{ account.club_membership_payment_qr_url }}"/>
        <br>
    {% endif %}
    {% if not account.debts_paid %}
        {% if account.club_membership_paid %}
            {% trans "V systému evidujeme, že stále nemáš zaplacené dluhy" %}
        {% else %}
            <br>
            {% trans "Dále evidujeme, že stále nemáš zaplacené dluhy" %}
        {% endif %}
        <br>
        <br>
        <b>{% trans "Své dluhy můžeš zaplatit pomocí následujících platebních údajů:" %}</b>
        <br>
        {% trans "Číslo účtu: " %}{{ club_bank_account_number }}
        <br>
        {% trans "Částka: " %}{{ account.debts_payment_amount }} {% trans "Kč" %}
        <br>
        {% trans "Zpráva pro příjemce: " %}{{ account.debts_payment_message }}
        <br>
        {% trans "QR kód: " %}
        <br>
        <img alt="QR platba" src="{{ account.debts_payment_qr_url }}"/>
        <br>
    {% endif %}
    <br>
    <br>
    {% trans "Pokud tvou platbu nezaevidujeme do 30.5.2021 nebude ti umožněno přihlašovat se na závody." %}
    <br>
    <br>
    {% trans "Děkujeme za platbu" %}

{% endblock %}
