{% extends "base.html" %}{% load i18n forms transaction core %}

{% block main_content %}

    <h1>{% trans "Seznam účtů" %}</h1>

    <form method="get">
          <div class="row">
              <div class="col-3">
                {% form_field filter.form.registration_number %}
              </div>
              <div class="col-3">
                {% form_field filter.form.first_name %}
              </div>
              <div class="col-3">
                {% form_field filter.form.last_name %}
              </div>
          </div>
          <div class="row">
              <div class="col-3">
                {% form_field filter.form.email %}
              </div>
              <div class="col-3">
                {% form_field filter.form.is_active %}
              </div>
          </div>
         <div class="row" style="margin-top: 25px">
            <div class="col-1">
                <input class="btn btn-success" type="submit" value="{% trans "Hledat" %}">
            </div>
             <div class="col-1">
                 <a href="{% url "accounts:export" %}" class="btn btn-secondary">{% trans "Export" %}</a>
             </div>
         </div>
    </form>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
            {% sortable_th request "registration_number" "Registrační číslo" %}
            {% sortable_th request "last_name" "Příjmení" %}
            {% sortable_th request "first_name" "Křestní jméno" %}
            {% sortable_th request "email" "Email" %}
            {% sortable_th request "balance" "Zůstatek" %}
            {% sortable_th request "membership_paid_to" "Příspěvky do" %}
        </tr>
      </thead>
      <tbody>
        {% for account in filter.qs %}
        <tr>
            <td ><a href="{% url "accounts:detail" account.pk%}">{{ account.registration_number }}</a></td>
            <td>{{ account.last_name }}</td>
            <td>{{ account.first_name }}</td>
            <td>{{ account.email|default:"-" }}</td>
            <td>{% transaction_amount account.balance %}</td>
            <td>{{ account.membership_paid_to|format_date|default:"-" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock main_content %}
