{% extends "base.html" %}{% load i18n forms %}

{% block main_content %}

    <h1>{% trans "Seznam ůčtů" %}</h1>

    <form method="get">
          <div class="row">
            <div class="col">
              {% form_field filter.form.registration_number %}
            </div>
            <div class="col">
              {% form_field filter.form.last_name %}
            </div>
            <div class="col">
              <input class="btn btn-success" type="submit" />
            </div>
          </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans "Registrační číslo" %}</th>
          <th scope="col">{% trans "Křestní jméno" %}</th>
          <th scope="col">{% trans "Příjmení" %}</th>
          <th scope="col">{% trans "Pohlaví" %}</th>
          <th scope="col">{% trans "Ročník" %}</th>
          <th scope="col">{% trans "SI" %}</th>
          <th scope="col">{% trans "Licence" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for account in filter.qs %}
        <tr>
          <td >{{ account.registration_number }}</td>
          <td>{{ account.first_name }}</td>
          <td>{{ account.last_name }}</td>
          <td>{{ account.get_gender_display }}</td>
          <td>{{ account.born_year }}</td>
          <td>{{ account.SI }}</td>
          <td>{{ account.licence }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock main_content %}
