{% extends "base.html" %}{% load i18n forms account entry core %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-brand">{% trans "IS SKOB Zlín" %}</p>
</nav>
{% endblock %}

{% block main_content %}
    <h1>{{ account.full_name }} - {% trans "Moje konto" %}</h1>
    <div class="col-md-6 d-flex align-items-center">
        <h4>{% trans "Email" %}: {{ account.email }}</h4>
        {% if account.membership_paid_to_date %}
            {% if account.club_membership_paid %}
                <span class="badge bg-success ms-2">{% trans "Příspěvky do" %} {{ account.membership_paid_to_date|format_date }}</span>
            {% else %}
                <span class="badge bg-danger ms-2">{% trans "Příspěvky do" %} {{ account.membership_paid_to_date|format_date }}</span>
            {% endif %}
        {% else %}
            <span class="badge bg-danger ms-2">{% trans "Příspěvky nezaplaceny" %}</span>
        {% endif %}
    </div>

    {% include "account/includes/transactions.html" with preview=True %}

{% endblock main_content %}

{% block right-sidebar %}
{% endblock %}