{% load i18n transaction core account %}

<h3>{% trans "Stav konta" %}: {% transaction_amount account.balance %}</h3>
<h3>{% trans "Proběhlé transakce" %}:</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">{% trans "Datum a čas vzniku" %}</th>
        <th scope="col">{% trans "Částka" %}</th>
        <th scope="col">{% trans "Účel transakce" %}</th>
        <th scope="col">{% trans "Období" %}</th>
        <th scope="col">{% trans "Poznámka" %}</th>
        {% if not preview %}
            {% ifperm edit_transaction %}
                <th scope="col">{% trans "Akce" %}</th>
            {% endifperm %}
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for transaction in account.get_transactions_descendant %}
        <tr>
            <td>{{ transaction.created|format_datetime }}</td>
            <td>
                {% if transaction.is_club_membership %}
                    <span style="color: blue">{{ transaction.amount|floatformat }} Kč</span>
                {% else %}
                    {% transaction_amount transaction.amount %}</td>
                {% endif %}
            <td>{{ transaction.get_purpose_display }}{% if transaction.is_event %} {{ transaction.origin_entry.event }}{% endif %}</td>
            <td>{{ transaction.period|default:"-" }}</td>
            <td>{{ transaction.note }}</td>
            {% if not preview %}
                {% ifperm edit_transaction %}
                    <td><a href="{% url "accounts:transaction_edit" transaction.pk %}">{% trans "Upravit" %}</a></td>
                {% endifperm %}
            {% endif %}
        </tr>
    {% endfor %}
    {% if account.init_balance %}
        <tr>
            <td>01.04.2021</td>
            <td>{% transaction_amount account.init_balance %}</td>
            <td>{% trans "Dluh z minulých let" %}</td>
            <td>* - 01.04.2021</td>
            <td></td>
            {% if not preview %}
                {% ifperm edit_transaction %}
                    <td></td>
                {% endifperm %}
            {% endif %}
        </tr>
    {% endif %}
    </tbody>
</table>