{% load i18n transaction core account %}

<h3>{% trans "Stav konta" %}: {% transaction_amount account.balance %}</h3>
<img alt="QR platba" src="{{ account.debts_payment_qr_url }}"/>

{% now "Y" as current_year %}

<h3>{% trans "Proběhlé transakce" %}:</h3>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-this-year" data-toggle="tab" data-bs-toggle="tab" href="#pane-this-year" role="tab" aria-controls="pane-this-year" aria-selected="true">{% trans "Letos" %}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-others" data-toggle="tab" data-bs-toggle="tab" href="#pane-others" role="tab" aria-controls="pane-others" aria-selected="false">{% trans "Ostatní" %}</a>
    </li>
  </ul>

<div class="tab-content" style="margin-top: 1rem;">
    <div class="tab-pane fade show active" id="pane-this-year" role="tabpanel" aria-labelledby="tab-this-year">
        {% include "account/includes/transactions_table.html" with transactions=account.get_transactions_descendant_this_year show_init_balance=False %}
    </div>

    <div class="tab-pane fade" id="pane-others" role="tabpanel" aria-labelledby="tab-others">
        {% include "account/includes/transactions_table.html" with transactions=account.get_transactions_descendant_other show_init_balance=True %}
    </div>
</div>