{% load i18n transaction core account %}

<h3>{% trans "Stav konta" %}: {% transaction_amount account.balance %}</h3>

<div class="row mb-3 mt-3">
    <div class="col-sm-6 mb-2">
        <button class="btn btn-outline-primary w-100 qr-tab-btn" type="button" data-qr-target="#qr-debts" data-active-class="btn-primary" data-inactive-class="btn-outline-primary">
            <i class="fas fa-qrcode"></i> {% trans "QR platba kredity" %}
        </button>
    </div>
    <div class="col-sm-6 mb-2">
        <button class="btn btn-outline-secondary w-100 qr-tab-btn" type="button" data-qr-target="#qr-membership" data-active-class="btn-secondary" data-inactive-class="btn-outline-secondary">
            <i class="fas fa-qrcode"></i> {% trans "QR příspěvky" %}
        </button>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <div id="qr-debts" class="qr-panel" style="display:none;">
            <div class="card card-body text-center">
                <img alt="{% trans 'QR platba kredity' %}" src="{{ account.debts_payment_qr_url }}" class="img-fluid mx-auto"/>
            </div>
        </div>
        <div id="qr-membership" class="qr-panel" style="display:none;">
            <div class="card card-body text-center">
                <img alt="{% trans 'QR příspěvky' %}" src="{{ account.club_membership_payment_qr_url }}" class="img-fluid mx-auto"/>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {
    $('.qr-tab-btn').on('click', function() {
        var target = $(this).data('qr-target');
        $('.qr-panel').hide();
        $(target).show();
        $('.qr-tab-btn').each(function() {
            $(this).removeClass($(this).data('active-class')).addClass($(this).data('inactive-class'));
        });
        $(this).removeClass($(this).data('inactive-class')).addClass($(this).data('active-class'));
    });
});
</script>

{% now "Y" as current_year %}

<h3>{% trans "Proběhlé transakce" %}:</h3>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-this-year" data-toggle="tab" data-bs-toggle="tab" href="#pane-this-year" role="tab" aria-controls="pane-this-year" aria-selected="true">{% trans "Aktuální rok" %}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-others" data-toggle="tab" data-bs-toggle="tab" href="#pane-others" role="tab" aria-controls="pane-others" aria-selected="false">{% trans "Historie" %}</a>
    </li>
  </ul>

<div class="tab-content" style="margin-top: 1rem;">
    <div class="tab-pane fade show active" id="pane-this-year" role="tabpanel" aria-labelledby="tab-this-year">
        {% include "account/includes/transactions_table.html" with transactions=account.get_transactions_descendant_this_year show_init_balance=False show_other_years_sum=True %}
    </div>

    <div class="tab-pane fade" id="pane-others" role="tabpanel" aria-labelledby="tab-others">
        {% include "account/includes/transactions_table.html" with transactions=account.get_transactions_descendant_other show_init_balance=True show_other_years_sum=False %}
    </div>
</div>